.game {
  min-height: 100vh;
  background-attachment: fixed;
  background-image: url('../assets/pocetna.jpg');
}

.title {
  color: #EEEEEE;
  text-shadow: 10px 10px rgb(47, 47, 47);
  font-family: 'Bangers', crusive, serif;
  font-size: 7rem;
}

.title-container {
  display: flex;
  justify-content: center;
  /*border-bottom: 2px solid rgb(205, 205, 205);*/
}

.shipgrid-container {
  display: flex;
  justify-content: space-between;
}

